.display1 {
    float: left;
    clear: both;
}
#insert td {
    padding: 0px;
}
#button,#reset,#contentk {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
#reset,#button {
   min-height: 12px;
   height:12px;
   border: 0px;
}